<!DOCTYPE html>
<html>
<head>

	<title>Consultar Operacion</title>
    <link rel='stylesheet' href='/css/fondo.css'>
    <link rel='stylesheet' href='/css/style.css'>
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

    <div class="container">

        <div class="card card-container">

            <form class="form" method="get" action="/consultOperation">

                    <input type="text" id="idOperation" name="idOperation" placeholder="Ingrese aquí el ID" required autofocus>

                    <a href="/consultOperation"><input type="submit" class="btn btn-primary" value="Consultar">

                    <a href="/init"><input type="button" class="btn btn-primary" value="Volver al menú">

            </form>

            {{{error}}}

        </div>

    </div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>