<!DOCTYPE html>
<html>
<head>

	<title>Inicio</title>
    <link rel='stylesheet' href='/css/fondo.css'>
    <link rel='stylesheet' href='/css/style.css'>
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

    <div class="container">

        <h4> ¿DESEA USAR LA CALCULADORA O CONSULTAR UNA OPERACION GUARDADA? </h4>

        <div class="card card-container" method="get">

            <form class="form">
                      
                    <a href="/mycalcu"><input type="button" class="btn btn-primary" value="Calculadora">

                    <a href="/consult"><input type="button" class="btn btn-primary" value="Consultar">

            </form>

        </div>

    </div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>