<!DOCTYPE html>
<html>
<head>

	<title>Ver Operacion</title>
    <link rel='stylesheet' href='/css/style.css'>
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

    <div class="container">

        <h4> LA OPERACION ES: </h4>

        <div class="card card-container">

            <form class="form">

                <input type="text" id="outputExpression" name="expression" value="{{myexpression}}" placeholder="MyExpression" required autofocus disabled>

                <h4> = </h4>

                <input type="text" id="outputResult" name="result" value="{{myresult}}" placeholder="ResultExpression" required autofocus disabled>

                <a href="/init"><input type="button" class="btn btn-primary" value="Volver al menú">

            </form>

        </div>

    </div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>