h4 {
    text-align: center;
}

.card-container.card {
    max-width: 420px;
    margin-top: 15%;
}

.btn {
    font-weight: 700;
    height: 36px;
    cursor: default;
}

.card {
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 15px 50px;;
}

.form #idOperation,
.form #outputExpression,
.form #outputResult,
.form #inputExpression,
.form #outputExpression,
.form #idOperation{
    direction: ltr;
    height: 44px;
    font-size: 16px;

}

.form input[type=button],
.form input[type=submit],
.form input[type=text]{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
}

.btn.btn-primary {
    background-color: #4d90fe;
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}
